body {
  background: #2B2730;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.header{
  text-decoration: underline;
  cursor: pointer;
}

.header:hover {
  color: blueviolet;
}

.review-card{
  background: #DDE6ED;
  color: #2B2730;
  padding: 1px 3px;
  margin: 4px 0px;
  cursor: pointer;
  position: relative;
  /* text-align: center; */
}
.review-card:hover{
  background: #E5E5CB;
}
.review-card p {
  font-size: 24px;
}
.aqua {
  background-color: aquamarine;
}

.summary{
  display: flex;
  justify-content: space-between;
}
.foto-product{
  padding: 10px 0;
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.wrap-form{
  display: flex;
  flex-direction: column;
}
.wrap-form label {
  font-size: 18px;
  padding: 3px 0;
}
.wrap-form textarea {
  font-size: 18px;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrap-form select {
  font-size: 18px;
  padding: 5px;
}
.btn {
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  cursor: pointer;
}
.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}
.btn-primary {
  background-color: blueviolet ;
  border: 0;
  color: white;
  border-radius: 5px;
}

.error-message {
  color: rgb(217, 51, 51);
}

.form-container p {
  text-align: center;
  font-size: 18px;
}
.container-rating {
  display: flex;
  justify-content: center;

}
.input-radio {
  /* display: inline; */
  position: relative;
  display: flex;
  justify-content: center;
}

[type='radio'] {
  opacity: 0;
  position: absolute;
}
[type='radio'] ~ label {
  border-radius: 50%;
  padding: 20px;
  height: auto;
  width: 20px;
  background-color: blueviolet;
  margin: 3px;
  color: #fff;
  text-align: center;
}
[type='radio']:checked ~ label {
  background-color: rgb(97, 13, 176);
  color: #fff;
}

.about-link {
  display:flex;
  justify-content: center;
  padding: 10px;
  background-color: #b6b6b6;
  border-radius: 50%;
  width: 20px;
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 10;
  color: rgb(255, 0, 157);
}
.nav-link {
  display: flex;
  justify-content: center;
}
.ul-link {
  display: flex;
  width: 75%;
  justify-content: space-between;
  padding-left: 0;
}
.ul-link li {
  list-style: none;
  color: wheat;
}
.ul-link li a {
  color: wheat;
  text-decoration: none;
}

.ul-link li a.active {
  text-decoration: underline;
}